<div class="deck" data-deck-id="">
  <div class="display">
    <h3>Now Playing..</h3>
    <h2>The saints are coming</h2>
  </div>
  <div class="control-list">
    <div class="control" data-control-name="">
      <div class="control-name">
        Gain
      </div>
      <div class="control-value">
        10
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Pan
      </div>
      <div class="control-value">
        +20
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Low Pass
      </div>
      <div class="control-value">
        20
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        High Pass
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Band Pass
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Low Shelf
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        High Shelf
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Peaking
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Notch
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        All Pass
      </div>
      <div class="control-value">
        0
      </div>
    </div>

  </div>
</div>