<div class="deck" id="" data-deck-id="">
  <div class="display">
    <h3 class="deck-status" data-select-track="0">Current Track..</h3>
    <span class="now-playing">The saints are coming</span>
  </div>
  <div class="control-list">
    <div class="control" data-control-name="">
      <div class="control-name">
        Gain
      </div>
      <div class="control-value">
        10
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Pan
      </div>
      <div class="control-value">
        +20
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Low Pass
      </div>
      <div class="control-value">
        20
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        High Pass
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Band Pass
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Low Shelf
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        High Shelf
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Peaking
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        Notch
      </div>
      <div class="control-value">
        0
      </div>
    </div>

    <div class="control" data-control-name="">
      <div class="control-name">
        All Pass
      </div>
      <div class="control-value">
        0
      </div>
    </div>

  </div>
</div>