.deck {
  width : 341px;
  height: 292px;
  float: left;
  margin:10px;
  background-color: #171817;
  background-image: url(../images/deck-off.png);
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px #171817;
}

.deck .display {
  width: 271px;
  height: 100px;
  margin: 21px 0px 0px 15px;
  padding: 20px;
  position: relative;
  /*background-color: green;*/
}

.display h3 {
  font:10px "digital_dreamregular";
  color:white;
  margin-bottom:10px;
}

.display .now-playing {
  font:15px "digital_dream_fatregular";
  color: white;
}

.display .freq-counter  {
  position: absolute;
  bottom: 10px;
  right: -10px;
  width: 200px;
  height: 20px;
  /*background-color: red;*/
}

.display .freq-counter .freq-title  {
  font:15px "digital_dreamregular";
  color: white; 
}

.display .freq-counter .freq-value  {
  font:15px "digital_dream_fatregular";
  color: white;  
}