html, body  {
  width: 100%;
  height:100%;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Cockpit Layouting. */
#cockpit-wrapper  {
  width: 100%;
  height: 100%;
  background-image: url('../images/background-strip.png');
  overflow: hidden;
}

#cockpit-deck-wrapper {
  width: 100%;
  height: 100%;
  float: left;
  overflow: auto;
}